/web/bundles/
/var/bootstrap.php.cache
/app/config/parameters.yml
/build/
/vendor/
/composer.phar
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
.idea

.DS_Store
/docker/.composer/auth.json
