parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            pl
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    api_token: ~
    api_url: http://92.43.117.190/api/v2/

    cache_enabled: false
    cache_default_lifetime: 1800
    cache_menu_enabled: true
    cache_menu_lifetime: 86400

    memcache_url: localhost
    memcache_port: 11211

    nokaut_img_domain: http://img.nokaut.pl

    click_mode: redirect #redirect, frame_offers_shop, frame_offers_category
    click_domain: http://www.nokaut.pl

    categories:
            'Kategorie':
                    - 1
                    - 47
                    - 86
                    - 126
                    - 185
                    - 445
                    - 487
                    - 633
                    - 685
                    - 686
                    - 5799
                    - 5844
                    - 5872
                    - 5888
                    - 6118
                    - 6222
                    - 8472
                    - 8519
                    - 9768
                    - 9812
                    - 10166
                    - 10669