<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block desc %}{% endblock %}" />
    {% block head %}{% endblock %}
    {% block stylesheets %}{% endblock %}
    {% block javascriptsTop %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
